.content {
  margin: 40px 5.5%;
}

.content-catelog {
  color: #8B8B8B;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.content-title {
  color: #203B69;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.card {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 0px 2px 13px rgba(187, 199, 220, 0.34);
  border-radius: 4px;
}

.card-image-background {
  background-color: #F2F5FC;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 238px;
  height: 238px;
}

.card-content {
  margin: 20px;
}

.card-title {
  color: #201C49;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.card-details {
  color: #979797;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.card-details-title {
  color: black;
  font-size: 14px;
}

.loader-background {
  height: 100vh;
  width: 100vw;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}